{% extends '@EasyAdmin/layout.html.twig' %}



{% block main %}
    {# <h1>Jumbo</h1> #}


   {#  si user est un admin qui a les droits d'envoyer le csv  <br>
    envoyer le formulaire d'envoi<br> #}
    <h2>Envoyer le csv</h2>
    {% include 'forms/upload_csv.html.twig' %}


    {% if paramtraitement is defined %}
        {{paramtraitement}}
    {% endif %}

{#     {% if app.user %} 
        user connecté 
    {% else %} 
        user non connecté. <b>{{ testParam }}</b>
    {% endif %} #}

{% endblock %}
